#blue {
    color: rgb(0, 0, 255)
}

#red {
    color: rgb(255, 0, 0)
}

#yellow {
    color: rgb(255, 255, 0)
}

#green {
    color: rgb(0, 255, 0);
}

#pink {
    color: rgb(255, 0, 255)
}

#black {
    color: rgb(1, 0, 0);
}

#white {
    color: rgb(255, 255, 255);
}
/*rgb არის ფერის შექმნის გზა, არსებობს 16581375 ფერი. ყველა ფერს ვერ დავარქმევთ სახელს, ამიტომ ისინი შედგებიან სამი ფერისგან red green blue, ჩვენ ვირჩევთ მათ ინტენსივობებს და ასე ვქმნით ფერებს*/